{% extends 'base.html' %}  {% block content %}

</div>
<div class="row">
  <div class="col-xl-3  justify-content-end pl-5">
    {% if user %}
      {% if not user.spotify_token%}
      <div class="card rounded mx-0 spotify-card" style="border:None !important;">
        <div class="card-body">
        <h5 class="card-title text-center">Link your spotify account to convert your playlists to spotify</h5>
        <div class="card-text"><a href="/spotify" class="btn btn-lg btn-success rounded-pill btn-spotify">Spotify</a></div>
      </div>
      </div>
      {% else %}
        <div class="card rounded my-2 spotify-card" style="border:None !important;">
          <div class="card-body">
            <h4 class="card-title text-center">Get recommendations based on your playlists!</h4>
            <p class="card-text text-center">Create a spotify playlist of recommended songs based off your saved playlists. You can listen to your recommendations on the spotify app/web app</p>

          </div>
          <hr class="red-hr">
        </div>
        {% for playlist in user.playlists %}
          <div class="card rounded my-2 spotify-card">
            <div class="card-body">
              <h5 class="card-title">{{playlist.name}}</h5>
              <p class="card-text">{{playlist.description}}</p>
              <a href="/playlists/{{playlist.id}}/recommend" class="btn btn-success btn-lg rounded-pill">Get recommendations</a>
            </div>
          </div>
          <hr class="red-hr">
        {% endfor %}

      {% endif %}
    
    {% else %}
          <div class="card rounded mx-0 spotify-card">
            <div class="card-body">
              <h5 class="card-title text-center">Login to link your spotify account</h5>
              <div class="card-text"><a href="/login" class="btn btn-lg rounded-pill btn-purple">Login</a></div>
            </div>
          </div>
    {% endif %}
  </div>
  <div class="col-xl-6 col-12 justify-content-center text-right card-holder">{% include 'post_card.html'%} 
    <div class="row justify-content-center my-3">

      {% if page == 1 %}
      <a href="/home/{{page+1}}" class="btn btn-info btn-lg mx-3">Next</a>
      {% else %}
      <a href="/home/{{page-1}}" class="btn btn-info btn-lg mx-3">Back</a>
      <a href="/home/{{page+1}}" class="btn btn-info btn-lg mx-3">Next</a>
      {% endif %}
    </div>
  </div>
  <div class="col-xl-3 justify-content-center pr-5">
    <div><h3 class="text-center my-playlists"> <b>My playlists:</b></h3></div>
    <hr class='red-hr'>
      {% if user %}
      <a href="/playlists/new" class="btn mt-3 btn-lg btn-purple rounded-pill my-2">Create a new playlist</a>
      {% endif %}
      {% for playlist in user.playlists %}
        <div class="card rounded my-4 home-playlist-card">
          <div class="card-body rounded">
            <h2 class="card-title"><a href="/playlists/{{playlist.id}}">{{playlist.name}}</a></h2>
            <hr class="purple-hr" >
            <p class="card-text">{{playlist.description}}</p>
            <p class="card-text"><h3>Songs:</h3>
              
              {% if not playlist.songs %}
              <h5>Add some songs to this playlist to see them here!</h5>
              {% endif %}
              <ul>
                {% for song in playlist.songs %}
                  {% if song.title %}
                  <li><b class="home-song-title">{{song.title}}</b> by <b class="home-song-artist">{{song.artist}}</b></li>
                  {% else %}
                  <li>{{song.post_title}}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
        <hr class="red-hr">
      {% endfor %}
  </div>
</div>

{% endblock %}
