{% extends 'base.html' %}  {% block content %}

</div>
<div class="row">
  <div class="col-3 justify-content-end pl-5">
    {% if user %}
      {% if not user.spotify_token%}
      <div class="card rounded mx-0">
        <div class="card-body">
        <h5 class="card-title">Link your spotify account to convert your playlists to spotify</h5>
        <div class="card-text"><a href="/spotify" class="btn btn-lg btn-success rounded-pill">Spotify</a></div>
      </div>
      </div>
      {% else %}
        <div class="card rounded  my-2">
          <div class="card-body">
            <h5 class="card-title">Get recommendations based on your playlists!</h5>
            <p class="card-text">Create a spotify playlist of recommended songs based off your saved playlists. You can listen to your recommendations on the spotify app/web app</p>

          </div>
        </div>
        {% for playlist in user.playlists %}
          <div class="card rounded my-2">
            <div class="card-body">
              <h5 class="card-title">{{playlist.name}}</h5>
              <p class="card-text">{{playlist.description}}</p>
              <a href="/playlists/{{playlist.id}}/recommend" class="btn btn-primary rounded pill">Get recommendations</a>
            </div>
          </div>
        {% endfor %}

      {% endif %}
    {% endif %}
  </div>
  <div class="col-6 justify-content-center text-right">{% include 'post_card.html'%} 
    <div class="row justify-content-center">

      {% if page == 1 %}
      <a href="/home/{{page+1}}" class="btn btn-info btn-lg mx-3">Next</a>
      {% else %}
      <a href="/home/{{page-1}}" class="btn btn-info btn-lg mx-3">Back</a>
      <a href="/home/{{page+1}}" class="btn btn-info btn-lg mx-3">Next</a>
      {% endif %}
    </div>
  </div>
  <div class="col-3 justify-content-start pr-5">
    <div><h3 class="display-4 text-center">My playlists:</h3></div>
      {% for playlist in user.playlists %}
        <div class="card rounded my-3">
          <div class="card-body rounded">
            <h5 class="card-title"><a href="/playlists/{{playlist.id}}">{{playlist.name}}</a></h5>
            <p class="card-text">{{playlist.description}}</p>
            <p class="card-text">Songs:
              <ul>
                {% for song in playlist.songs %}
                  {% if song.title %}
                  <li><b>{{song.title}}</b> by <b>{{song.artist}}</b></li>
                  {% else %}
                  <li>{{song.post_title}}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
